body {
    background-image: url(background.jpg);
    background-repeat: repeat;
    text-align: center;
    border: solid;
    color: #A0A0A0;
    border-width: 5px;
    border-color: grey;
    border-radius: 20px;
    height: 100%;
    margin: 25px;
}

#all {
    min-height: 100%;
}
#bottom {
    visibility: hidden;
}

button {
    font-size: 20px;
}
